api_url_ma_registration="http://.../"
api_url_ma_update_device="http://.../"
api_url_ma_all_devices="http://.../"
api_url_ma_revoke_device="http://.../"
api_url_ma_message_history="http://.../"
api_url_pd_receiver="http://.../"
api_url_pc_receiver="http://.../"
